html{background: rebeccapurple;}
.head{text-align: center; color: rgb(0, 0, 0); }
#red{color: red;}
#blue{color: rgb(1, 83, 111);}
#orange{color: orangered;}
#green{color: green;}
#yellow{color: yellow;}
